/* These styles are for large devices */
h1 {
    font-size: 23px;
}
div.search-status {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 40px;
    width: 100%;
}

#genre-movies-container[data-status='searching'] > div.search-status {
    background-image: url('../images/light_loading.gif');
}
#genre-movies-container[data-status='done'] > div.search-status {
    background-image: none;
}
#genre-movies-container div.search-results {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(auto-fit, 387px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    color: #000;
}
div.search-results > div {
    display: flex;
    flex-direction: column;
    position: relative;

}
div.search-results .poster {
    flex: 0 0 360px;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
}
a.title-link {
    color: black;
}
a.title-link:hover {
    text-decoration: none;
}
 div.search-results .title {
    flex: 0 0 27px;
    font-size: 110%;
}
/* Dark theme styles */
body.dark-theme #genre-movies-container[data-status='searching'] > div.search-status {
    background-image: url('../images/dark_loading.gif');
}
body.dark-theme div.search-results .title-link {
    color: #858585;
}
/* Medium device styles */
/* For smaller Screens */
@media screen  and  (max-width: 768px) {
    #genre-movies-container div.search-results {
        grid-template-columns: repeat(auto-fit, 153px);
        grid-template-rows: repeat(auto-fit, 259px);
    }
    #genre-movies-container div.search-results .poster {
        flex: 0 0 232px;
    }
    #genre-movies-container div.search-results .title {
        flex: 0 0 27px;
    }
}

