
div.main-content {
    background-image: url("../images/bg-min.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}
div.content-overlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
}


.cta p {
    color: lightgray;
    font-size: 170%;
    font-weight: bold;
}
.cta .btn {
    border-radius: 0;
}
div.site-qualities {
    flex: 1 0 auto;
    width: 100vw;
    height: 130vh;
}

div.site-qualities .container {
    display: grid;
    grid-template-areas: "reason-1 ."
                          ". reason-2"
                          "reason-3 ."
                          ". reason-4";
                          "reason-5 ."
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(auto-fit, 20%);
    grid-row-gap: 5px;
    background-color: #fff;
}
#a, #b, #c, #d, #e {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4fr 2fr;
    grid-row-gap: 15px;
}
#b {
    grid-area: reason-2;

}
#a {
    grid-area: reason-1;

}
#c {
    grid-area: reason-3;

}
#d {
    grid-area: reason-4;
}
#e {
    grid-area: reason-5;
}
#a .image, #b .image, #c .image, #d .image, #e .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#a .image{
    background-image: url('../images/upload.png');

}
#b .image {
    background-image: url('../images/free.png');

}
 #c .image {
    background-image: url('../images/hd.png');
}
#d .image {
    background-image: url('../images/customer_service.png');

}
#e .image {
    background-image: url('../images/free.png');
}
#a h1, #b h1, #c h1, #d h1, #e h1 {
    font-family: 'Newsreader', serif;
    font-size: 105%;
    padding: 2%;
    color: #000;
}
.footer {
    background-color: #0C2E4B !important;
    color: #858585;
}
div.footer p {
    font-size: 14px;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a {
    color: inherit;
}
div.footer p > a {
    font-size: 30px;
}
/*
    Dark theme styles

    This background color differs from the main dark theme background color
*/

body.dark-theme div.site-qualities, body.dark-theme div.site-qualities .container {
    background-color: #bd9814;
}
body.dark-theme .cta .btn {
    opacity: .8;
}

/* For smaller screens */
@media screen  and  (max-width: 768px) {
    .cta p {
        font-size: 110%;
    }
    div.footer {
        flex-direction: column;
    }
}
