{% extends "base.html" %}
{% block title %}
    KIRABOFLIX PRIVACY POLICY
{% endblock %}
{% block extra_head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/privacy_policy.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5">

    <h1>KIRABOFLIX PRIVACY POLICY</h1>

    <p><b>In this privacy statement, the words “we”, “our”, “us” refer to KIRABOFLIX.</b></p>

    <p>This privacy statement details what personal data concerning you is collected, how it is collected and why it is collected.</p>

    <p><b>Personal data is data by itself or by any other additional data can be used to identify you.</b></p>

    <p>KIRABOFLIX is committed to protecting the privacy and accuracy of confidential information to the extent possible. Other than as required by laws that guarantee public access to certain types of information, or in response to subpoenas or other legal
        instruments that authorize access, personal information is not actively shared. In particular, we do not re-distribute or sell personal information collected on our web servers.</p>

    <h1>Information collected:</h1>


    <h2>KIRABOFLIX servers collect the following analytics:</h2>
    <ul>
        <li>Internet Protocol (IP) address of computer being used</li>

        <li>web pages requested</li>

                <li>referring web page</li>

                <li>browser used</li>

                <li>date and time</li>

                <li>First and Last names</li>

                <li>Email</li>

    </ul>


    <p>KIRABOFLIX does not associate this data to individual user identities.</p>


    <p><b>Other forms of data collection</b>: web forms, cookies, surveys, or registration forms.</p>

    <h2>Cookies</h2>

    <p>KIRABOFLIX site may use "cookies" in order to deliver web content specific to individual users' interests or to keep track of online purchasing transactions. <br /> Sensitive personal information is not stored within cookies.</p>


    <h2>Webforms</h2>
    <p>KIRABOFLIX uses web forms on this site. These forms require users to give contact information like email, first name and last name. Contact information from the registration form is used only to send material relating to the purpose for which it
        was collected and will not be sold to another party.</p>


    <h1>Use of collected information:</h1>

    <ul>
        <li>KIRABOFLIX will only use personal information collected from this site for the purpose of communication back to individuals who contact us via the site.</li>

        <li>KIRABOFLIX uses browser-IP-address information and anonymous-browser history to report information about site accesses and for profiling purposes. This information is used to improve Web presentation and utilization. IP address information may also
            be used for troubleshooting purposes.</li>
    </ul>




    <h1>Distribution of collected information:</h1>
    <ul>
        <li>KIRABOFLIX will not disclose, without your consent, personal information collected about you, except for certain explicit circumstances in which disclosure is required by law.</li>

        <li>KIRABOFLIX will not distribute or sell personal information to third-party organizations.</li>
    </ul>



    <h1>Personal Data Security</h1>

    <p>All the personal data submitted to us is strictly confidential and fully secure. The data transmitted to us using your browser is protected with SSL (Secure Sockets Layer) which encrypts all your data as it passes from the browser to our servers.</p>

    <p>However no method on the internet if 100% secure and therefore we strive to keep your data secure using commercially acceptable means.</p>



    <h1>Privacy Statement Revisions:</h1>

    <p>This Privacy Statement was last revised on <b>12/04/2021</b>. We may change this Privacy Statement at any time and for any reason. We encourage you to review this Privacy Statement each time you visit the web site.</p>

    <p>If we make a significant change to our Privacy Statement, we will post a notice on the homepage of our web site for a period of time after the change is made.</p>

    <h1>Responsibility for External Sites:</h1>

    <p>This website may contain links to other web sites. Some of those web sites may be operated by third parties. We provide the links for your convenience, but we do not review, control, or monitor the privacy practices of web sites operated by others.</p>

    <p>We are not responsible for the performance of web sites operated by third parties or for your business dealings with them. Therefore, whenever you leave this web site we recommend that you review each web site's privacy practices and make your own conclusions
        regarding the adequacy of these practices.</p>

    <h1>How to contact us</h1>

    <p>If you have any questions regarding your personal data and how it is processed, please contact us via <a href="mailto:kiraboent@gmail.com">email</a>.</p>
</div>
{% endblock %}
